@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

/* Tell Tailwind to scan @regarde/ui package source files for classes */
@source "../../../packages/ui/src";

@import "shadcn/tailwind.css";

@import "@fontsource-variable/geist";
@import "@fontsource/geist-mono/400.css";
@import "@fontsource/geist-mono/500.css";

@theme {
  --breakpoint-md: 768px;

  --font-sans: "Geist Sans", sans-serif; /* Body text */
  --font-display: "Geist Sans", sans-serif; /* Headings & buttons */
  --font-mono: "Geist Mono", monospace; /* Data & Code */

  --text-xxs: 0.65rem;

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 3.5rem;
  --radius-4xl: 4rem;

  /* Sidebar widths */
  --width-sidebar: 16rem;
  --width-sidebar-icon: 3rem;

  /* Neutrals */
  --color-gray-100: oklch(0.9702 0 0);
  --color-gray-200: oklch(0.9401 0 0);
  --color-gray-300: oklch(0.8638 0 0);
  --color-gray-400: oklch(0.7952 0 0);
  --color-gray-600: oklch(0.4386 0 0);
  --color-gray-800: oklch(0.2686 0 0);
  --color-gray-900: oklch(0.205 0 0);

  /* Semantic Colors */
  /*--color-white: oklch(0.9702 0 0);
  --color-dark: oklch(0.2686 0 0);*/
  --color-blue-500: oklch(0.5851 0.205 270.57);
  --color-blue-200: oklch(0.8905 0.044 271.33);
  --color-green-600: oklch(62.7% 0.194 149.214);
  --color-red-500: oklch(63.7% 0.237 25.331);

  /* TailwindCSS <> ShadcnUI Theme Mappings */
  --color-background-dashboard: var(--background-dashboard);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-success: var(--success);
  --color-success-bg: var(--success-bg);
}

@layer base {
  :root {
    /* Semantic Color Mappings - Light Theme */
    --background-dashboard: var(--color-gray-400);
    --background: var(--color-gray-200);
    --foreground: var(--color-gray-800);

    --card: var(--color-gray-100);
    --card-foreground: var(--color-gray-500);

    --popover: var(--color-gray-100);
    --popover-foreground: var(--color-gray-600);

    --primary: var(--color-blue-500);
    --primary-foreground: var(--color-gray-100);

    --secondary: var(--color-gray-100);
    --secondary-foreground: var(--color-gray-700);

    --muted: var(--color-gray-200);
    --muted-foreground: var(--color-gray-600);

    --accent: var(--color-blue-200);
    --accent-foreground: var(--color-blue-600);

    --border: var(--color-gray-300);
    --input: var(--color-gray-200);
    --ring: var(--color-blue-500);

    --sidebar: var(--color-gray-200);
    --sidebar-foreground: var(--color-gray-800);
    --sidebar-primary: var(--color-gray-100);
    --sidebar-primary-foreground: var(--color-gray-800);
    --sidebar-accent: var(--color-gray-100);
    --sidebar-accent-foreground: var(--color-gray-600);
    --sidebar-border: var(--color-gray-300);
    --sidebar-ring: var(--color-blue-500);

    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-gray-100);

    --success: var(--color-green-600);
    --success-bg: var(--color-gray-100);
  }
}

@layer base {
  html {
    @apply text-sm antialiased;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply m-0 bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  button {
    -webkit-user-select: none;
    user-select: none;
  }
}

@layer components {
  [data-slot="card"]:hover,
  .card-hover:hover {
    background-color: var(--color-blue-200);
  }

  [data-slot="card"]:active,
  [data-slot="card"][data-state="active"],
  .card-active {
    background-color: var(--color-gray-400);
  }

  [data-slot="card"][data-state="selected"],
  .card-selected {
    background-color: var(--color-blue-500);
  }
}
