
# App
VITE_API_BASE_URL=http://localhost:3000
APP_PUBLIC_HOSTNAME=api.regarde.bio
PORT=3000

VITE_JAZZ_API_KEY=email@gmail.com
VITE_WORKER_JAZZ_ID=co_z1234
VITE_WORKER_JAZZ_SECRET=sealerSecret_


# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_12345
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_

JAZZ_SYNC_SERVER_URL="wss://cloud.jazz.tools"
